@import url("https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.firstsection {
  border: 2px solid white;
  display: flex;
  background-color: rgba(128, 128, 128, 0.527);
  padding: 10px;
  position: relative;
  top: 20px;
  border-radius: 20px;
}
.home:hover {
  color: rgba(0, 0, 255, 0.822);
}
body {
  margin: auto;
  width: 90%;

  background-color: #dcd9d4;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  background-blend-mode: soft-light, screen;
}
.container {
  border: 1px solid gray;
  position: relative;
  top: 38px;
  background-color: #fff7f1d2;
  margin-bottom: 100px;
}
.container:hover {
  box-shadow: 5px 5px 10px 2px gray;
}
.container > p {
  text-align: center;
  padding: 10px;
}
.container > h4 {
  text-align: center;
  color: #2aec08;
  text-shadow: 5px 5px 10px skyblue;
  padding: 6px;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mail {
  color: blue;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.container > ol {
  list-style: none;
  text-align: center;
}
.tables {
  display: flex;
  width: 100%;
  padding-left: 150px;
  padding-bottom: 50px;
  padding-top: 20px;
}
.firsttable > h4 {
  border: 2px solid blue;
  background-color: blue;
  padding: 5px 130px;
}
.firsttable > ol {
  list-style: none;
  padding-left: 30px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding-bottom: 50px;
  padding-top: 20px;
}
.secondtable > h4 {
  border: 2px solid blue;
  background-color: blue;
  padding: 5px 150px;
}
.secondtable > ol {
  list-style: none;
  padding-left: 30px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding-bottom: 50px;
  padding-top: 20px;
}
p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
