@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;

  color: rgba(255, 255, 255, 0.822);
  padding-top: 20px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.877);
  padding-bottom: 10px;
}
nav > .left-bar {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
}
.left-bar > p {
  cursor: pointer;
  font-family: "Annapurna SIL", serif;
  font-weight: 500;
  font-style: normal;
}

.left-bar > h2 {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav > .right-bar {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: end;
  gap: 20px;
  font-family: "Annapurna SIL", serif;
  font-weight: 700;
  font-style: normal;
}
#searchicon {
  padding-top: 6px;
  position: relative;
  right: 20%;
}
#searchicon:hover {
  border-radius: 5px;

  color: white;

  cursor: pointer;
}
.left-bar > h2 {
  color: white;
}
.left-bar > p:hover {
  border-bottom: 2px solid white;
  color: white;
}
.class {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.822);
}
.class:hover {
  border-bottom: 2px solid white;
  color: white;
}
summary {
  color: rgba(255, 255, 255, 0.822);
  cursor: pointer;
  text-decoration: none;
}
summary:hover {
  color: white;
}
.evote:hover {
  text-decoration: none;
}

.about:hover {
  text-decoration: none;
}
.right-bar > p,
button {
  cursor: pointer;
  position: relative;
  right: 20%;
  color: black;
}
button {
  padding: 5px 20px;
  background-color: blue;
  color: white;
  border-radius: 6px;
  border: none;
}

.right-bar > p:hover {
  color: white;
}
main {
  background-image: url(ehover.jpg);
  height: 85vh;
  width: 95%;
  margin: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 45%;
  position: relative;
  bottom: 20px;
}

.evoting {
  position: relative;
  top: 60px;
  left: 20px;
  gap: 30px;
}
.evoting > h1 {
  font-size: 30px;
  color: blue;
  animation: example ease-in;
  animation-duration: 4s;
  font-weight: bolder;
  display: inline;
  position: relative;
}
.hey:hover {
  color: white;
}
@keyframes example {
  0% {
    left: 0%;
  }
  20% {
    left: 20%;
    text-decoration: underline;
  }
  40% {
    left: 40%;
    text-decoration: underline;
  }
  60% {
    top: 60%;
    text-decoration: underline;
  }
  80% {
    left: 80%;
    text-decoration: underline;
  }
}
.evoting > p {
  font-size: 20px;
  padding-top: 20px;
  opacity: 1;
  font-weight: bolder;
}
.startVoting {
  color: black;
  position: relative;
  top: 110px;
  padding: 5px 30px;
  background-color: rgba(0, 0, 255, 0.582);
  display: inline;
  border-radius: 20px;
  cursor: pointer;
  left: 15px;
}
.startVoting:hover {
  color: white;
  background-color: blue;
  box-shadow: 2px 2px 5px 2px blue;
}
summary::after {
  content: "\25BC";
  padding-left: 40px;
  position: absolute;
  top: 4px;
  font-size: 14px;
}
.aboutus {
  position: relative;
  display: flex;
}
summary {
  list-style: none;
}
.evote {
  position: relative;
  top: 20px;
  text-decoration: underline;
  cursor: pointer;
  background-color: #d7e4c0;
  color: black;
  padding: 10px;
  border-radius: 10px;
}
.evote:hover {
  color: white;
}
.ourgallery {
  padding: 20px;
  color: blue;
  text-align: center;
  text-decoration: underline;
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.295);
}
.gallery > img {
  width: 28%;
  gap: 5px;
  padding: 20px;
}
.gallery > img:hover {
  transform: scale(1.1);
  border-radius: 50px;
}
.transform {
  font-family: "Anta", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-shadow: 10px 4px 5px white;
}
